<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sonarrAnnounced</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default" style="margin-bottom:0.5cm;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i class="glyphicon glyphicon-phone"></i>sonarrAnnounced</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/trackers">Trackers </a></li>
                    <li role="presentation"><a href="/logs">Logs </a></li>
                    <li role="presentation"><a href="/settings">Settings </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-0" id="snatched_torrents">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Title </th>
                                    <th>Indexer </th>
                                </tr>
                            </thead>
                            <tbody>
								{% for snatch in snatched %}
                                <tr>
                                    <td>{{ snatch.title }}</td>
                                    <td>{{ snatch.indexer }}</td>
                                </tr>
								{% endfor %}
                            </tbody>
                            <caption>Snatched Torrents</caption>
                        </table>
                    </div>
                </div>
                <div class="col-md-7" id="parsed_announcements">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Title </th>
                                    <th>Indexer </th>
                                </tr>
                            </thead>
                            <tbody>
								{% for release in announced %}
								<tr>
									<td>{{ release.title }}</td>
									<td>{{ release.indexer }}</td>
								</tr>
								{% endfor %}
                            </tbody>
                            <caption>Announced Releases</caption>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/settings.js"></script>
</body>

</html>